body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

.fejlec {
    background-image: url('kepek/hatter.png'); 
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif
}

header, nav{
    color: white; 
    backdrop-filter: blur(3px); 
}

#etikus-kiberbunozes {
    background-color: #e8f0fe; 
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify; 
}

#nem-etikus-kiberbunozes {
    background-color: #ffecd1;
    text-align: justify; 
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

span{
font-weight: bold;

}

#jelszo{
    color: #f2f2f2;
}
header {
    padding: 10px;
    text-align: center;
    position: relative; 
}

header h1 {
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000; 
    margin: 0;
}

article h3{
    text-align: center;

}

aside h3{
    text-align: center;

}
nav {
    padding: 0;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    text-align: center;
    padding: 10px;
    border-radius: 10px; 
    transition: all 0.5s ease; 
    box-sizing: border-box; 
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px #000000; 
}


nav ul li:hover,
nav ul li:focus-within {
    transform: scale(1.05); 
    font-size: 1.05em; 
}

nav ul li.active {
    background-color: #4CAF50; 
}
#secretContent { 
    display: none; 
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

article, aside {
    padding: 10px;
}

.password-checker {
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#password-strength {
    color: green;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}
/* xss*/

.main-layout{
    display: flex;
    flex-direction: row;
}
.main-layout .left-side, .main-layout .right-side {
    flex: 1; /* Mindkét oldal 50%-os szélességű */
}

.main-layout {
    flex-direction: column;
}

.side img {
    height: auto;
    width: 100%;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Középre igazítja a tartalmat vízszintesen */
}

#loginSection{
text-align: center;
}

.dt-image {
    width: 50%; /* Adjust the percentage as needed for the desired size */
    height: auto; /* This maintains the aspect ratio of the image */
    display: block;
    margin: auto; /* This centers the image in the div */
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container img {
    width: 200px;  /* Example width */
    height: auto;  /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add some space between the image and the text */
}

.arajanlat-kozep
{
    text-align: center;

}

/* Tablet nézet */
@media all and (min-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        flex-direction: row;
    }

    article {
        flex: 70%;
    }

    aside {
        flex: 30%;
    }
    .dt-image {
        width: 50%; /* Smaller size for larger screens */
    }
    .content-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

/* Asztali nézet */
@media (min-width: 768px) {
    .main-layout {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }

    .side {
        flex: 1; /* 20% szélesség */
        overflow: hidden;
    }

    .side img {
        height: 100vh;
        width: auto;
        object-fit: cover;
    }
    .center-content {
        flex: 3; /* 60% szélesség */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Középre igazítja a tartalmat vízszintesen */
    }

}
